# Private Keys (NIEMALS COMMITTEN!)
# Tipp: Erstellt euch separate Wallets nur für den Hackathon
 
# Wallet, das die Contracts deployed
DEPLOYER_PRIVATE_KEY=bb0a0d5667ab20e5f60c80e65afef6188f90a92cf72e689aca335b2bf9dc57b7
 
# Wallet, das als autorisierter Oracle Daten on-chain schreibt
ORACLE_PRIVATE_KEY=bb0a0d5667ab20e5f60c80e65afef6188f90a92cf72e689aca335b2bf9dc57b7
 
# Wallet, das settleSlot() triggert (kann derselbe wie deployer sein)
TRIGGER_PRIVATE_KEY=2e7455f00475d74be5099886d4a00057bc6eccf6e667cf00a01f915484733dde
 
# Wallet, das AI-Prognosen submittet (Phase 3)
AI_PRIVATE_KEY=bb0a0d5667ab20e5f60c80e65afef6188f90a92cf72e689aca335b2bf9dc57b7